body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  font-weight: normal;
  background: rgb(209, 197, 35);
}

.main {
  margin: 100px auto;
  text-align: center;
}

button {
  padding: 20px;
  background: grey;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 1px solid black;
  color: rgb(42, 21, 100);
  cursor: pointer;
}